@import '~bootstrap/scss/bootstrap';
@import 'partials/aside.scss';

header {
    height: 85px;
    background-color: rgb(26, 38, 57) !important;
}

.my-navbar {
    background-color: rgb(26, 38, 57) !important;
    color: white;
    a {
        color: white;
    }
}


// body > div {
//     margin-left: 180px !important;

// }

.my-container {
    margin-top: 97px !important;
    margin-left: 170px !important;
}

input,
textarea {
    border: none !important;
    outline: none !important;


}

.my-intest {
    background-color: rgb(89, 110, 121) !important;
    color: white;
}
